  @import "normalize", "foundation";

/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

$primary-color: #fbb03b;
$secondary-color: #5d5d5d;
$third-color: #998675;
$blue-color: #cce3f8;

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

html {
    height:100%;
}
body {

    height:100%;
    
}

.home {
  height:100%;

  img {
    position:absolute;
    right:0px;
    bottom: 0px;
  }

}
.home-top {
    background: rgba(251, 176, 59, 1);
    border-bottom: 1px solid black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 230px;

}
.top-container {
  height:130px;
  width:100%;

}

.logo1 {
    display:block;
    width:100px;
    height:100px;
    margin: 0 auto;
    z-index: 9;
    margin-top:15px;

}


.home-bottom {
/* IE10 Consumer Preview */ 
background-image: -ms-radial-gradient(center, circle closest-corner, #6F7372 0%, #3D4140 100%);

/* Mozilla Firefox */ 
background-image: -moz-radial-gradient(center, circle closest-corner, #6F7372 0%, #3D4140 100%);

/* Opera */ 
background-image: -o-radial-gradient(center, circle closest-corner, #6F7372 0%, #3D4140 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(radial, center center, 0, center center, 538, color-stop(0, #6F7372), color-stop(1, #3D4140));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-radial-gradient(center, circle closest-corner, #6F7372 0%, #3D4140 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: radial-gradient(circle closest-corner at center, #6F7372 0%, #3D4140 100%);
  width:100%;
  height:75%;

  
  .greeting {
    width:50%;
    height:20%;
    margin: 0 auto;
    margin-top: 18%;

      h1 {
      font-size: 100px;
      color: white;
      letter-spacing: 5px;
      font-family: "Helvetica";
      font-weight: 100;
      margin: 0px;
      height:120px;

      }

    

      /* Hide original text */
      h1:hover { font-size: 0; }

/* Replace original text with value in data-hover */
      h1:hover:before {
      font-size: 100px;
      margin:0 auto;
      content: attr(data-hover);
      }

      h6 {
      font-size: 17px;
      color:black;
      font-family: "Helvetica";
      font-weight: 100;
      }



  }
 
}


/* == SVG STYLES == */




/*svg {
    position: absolute;
    top: 0;
    left: 0;
}*/
 
svg line {
    stroke-width:5;
    stroke: #FBB03B;
    fill: none;
    stroke-dasharray: 100;
    -webkit-transition: -webkit-transform .8s ease;
    -moz-transition: -moz-transform .8s ease;
    -ms-transition: -ms-transform .8s ease;
    -o-transition: -o-transform .8s ease;
    transition: transform .8s ease;
}
 
.logo:hover svg line.top {
    stroke: #FBB03B;
  -webkit-transform: translateX(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  transform: translateX(-200px);
}
 
.logo:hover svg line.bottom {
    stroke: #FBB03B;
  -webkit-transform: translateX(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
}
 
.logo:hover svg line.left {
    stroke: #FBB03B;
  -webkit-transform: translateY(200px);
  -moz-transform: translateX(200px);
  -ms-transform: translateX(200px);
  -o-transform: translateX(200px);
  transform: translateX(200px);
}
 
.logo:hover svg line.right {
    stroke: #FBB03B;
    
  -webkit-transform: translateY(-200px);
  -moz-transform: translateX(-200px);
  -ms-transform: translateX(-200px);
  -o-transform: translateX(-200px);
  transform: translateX(-200px);


}


svg .logo{
  fill: white;
  -webkit-transition: fill .8s ease;
  -moz-transition: fill .8s ease;
  -ms-transition: fill .8s ease;
  -o-transition: fill .8s ease;
  transition: fill .8s ease;
}

svg rect{
  -webkit-transition: fill .8s ease;
  -moz-transition: fill .8s ease;
  -ms-transition: fill .8s ease;
  -o-transition: fill .8s ease;
  transition: fill .8s ease;
}

.logo:hover svg .logo{
  fill: #FBB03B;
}

.logo:hover svg rect{
  fill: white;
  opacity:0;
}



/* == END OF SVG == */

hr.style-two {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0)); 
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    margin:0;
  }

.name-container {
  height:25%;
  width:600px;
  margin: 0 auto;


  

  .nav {
    height:60px;
    
    ul {
        list-style: none;
        line-height: 30px;  
        text-align: center;
        height:60px;
        margin:20px 0 0 0;



        li {
          display:inline;
          /*border: 2px solid black;*/
          padding: 10px 20px;
          margin-left:5px;
          margin-right: 5px;


            a {
                color:black;
                font-family: 'Source Sans Pro', sans-serif;;
                display:inline-block;
                font-weight: 200;
                font-size: 15px;

            }

            a:after {
              content: '';
              display: block;
              height: 1px;
              width: 0;
              background: transparent;
              color:black;
              transition: width .3s ease, background-color .3s ease;

            }
            a:hover {
              color:white;
            }
            a:hover:after {
              width: 100%;
              background: black;
              color:black;
            }
          }
        li:first-child {
          display: none;
      }
    }
  }
}


/* Fade in/out effect */



/*div.box div.details h4 {
  top: 40%;
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 17px;
  font-family:'Source Sans Pro', sans-serif;
  font-weight: 300;
  color: black;

}

div.box .details {
position:absolute;
top:50px;
left:15px;
width: 300px;
height: 200px;
background: rgb(0, 0, 0);
background: rgba(251, 176, 59, .85);
color: #fff;
opacity: 0;

.box {
  display:none;
}*/

/* Fade out */
/*transition: opacity;
transition-timing-function: ease-out;
transition-duration: 250ms;
transition-delay: .3s;
    
-ms-transition: opacity;
-ms-transition-timing-function: ease-out;
-ms-transition-duration: 250ms;
-ms-transition-delay: .3s; 
    
-moz-transition: opacity;
-moz-transition-timing-function: ease-out;
-moz-transition-duration: 250ms;
-moz-transition-delay: .3s; 
    
-webkit-transition: opacity;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 250ms;
-webkit-transition-delay: .3s;    
}



div.box .details:hover {
opacity: 1;*/

/* Fade in */
/*transition: opacity;
transition-timing-function: ease-out;
transition-duration: 500ms;

-ms-transition:opacity;
-ms-transition-timing-function: ease-out;
-ms-transition-duration: 500ms;

-moz-transition:opacity;
-moz-transition-timing-function: ease-out;
-moz-transition-duration: 500ms;

-webkit-transition: opacity;
-webkit-transition-timing-function: ease-out;
-webkit-transition-duration: 500ms;
}

*/

/* /fade end */

.work_head {
  height:130px;
  width:100%;

}

.about_head {
  height:130px;
  width:100%;

}


.logo {
    display:block;
    width:100px;
    height:100px;
    margin: 0 auto;
    z-index: 9;
    padding-top: 15px;

}


.work {
  background-color: #f8f8f8;
  height: 100%;

  .work_head {
    height:15%;
    margin-bottom: 40px;
  }

  .work_container {

    .work_caption {
      margin-bottom: 50px;
      border-bottom: 1px solid #999999;
      h5 {
        font-size: 14px;
        color: #999999;
        text-align: center;
        font:Helvetica;
        font-weight: 200;
        margin:10px 0;

      }
    }
  }
}

.about {
  height:50%;
  
  .about_img {
    height:200px;
    h6 {
      text-align: center;

    }
  }
}

.contact {
  height: 50%;
}

.social {
  width:400px;
  margin: 0 auto;
  text-align: center;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}